/* Estilização para a section "Sobre Mim" */
#sobre-mim {
    padding: 50px 0;
    background-color: #f9f9f9;
}

/* Estilização para o título "Sobre Mim" */
#sobre-mim h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilização para o parágrafo de introdução */
#sobre-mim p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
}

/* Estilização para a lista de habilidades */
#sobre-mim ul {
    list-style-type: none;
    padding-left: 0;
}


/* Estilização para as <li> */
#sobre-mim li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

/* Estilização para o marcador das <li> */
#sobre-mim li::before {
    align-items: center;
    content: "\2022"; /* Código Unicode para um círculo preenchido */
    position: absolute;
    left: 0;
    color: #007bff; /* Cor do marcador */
}

#sobre-mim li img:hover{
    transform: scale(1.2);
}


#sobre-mim img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.titulo-section {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .lista {
        text-align: center;
        align-items: center;
    }

    #sobre-mim li::before {
        color: white;
    }
}